* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--white);
  border-radius: 1rem;
  width: 700px;
  height: 500px;
  display: flex;
  margin-bottom: 20px;
}

/* Sections */

section.img,
section.product {
  width: 50%;
  min-height: 100%;
}

section.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 40px;
}

/* Img */

picture {
  width: 100%;
  height: 100%;
}

img {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* Cart btn */

div.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--dark-cyan);
  color: var(--white);
  width: 100%;
  border-radius: 1rem;
  height: 60px;
  cursor: pointer;
}

div.cart:hover {
  background-color: var(--very-dark-blue);
}

div.cart p {
  font-size: 18px;
  padding: 10px;
}

/* Product Prices */

div.product__prices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

p.product__sale__price {
  font-size: 35px;
  color: var(--dark-cyan);
}

p.product__main__price {
  margin-left: 20px;
  font-size: 15px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

/* Font */

.fraunces {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p.product__type {
  color: var(--dark-grayish-blue);
  letter-spacing: 10px;
}

h1.product__name {
  font-size: 35px;
}

p.product__description {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  line-height: 25px;
}

p {
  font-size: 14px;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 425px) {
  main {
    flex-direction: column;
    width: 90%;
    height: 800px;
  }

  section.product {
    width: 100%;
    min-height: 60%;
  }

  section.img {
    width: 100%;
    min-height: 40%;
  }

  img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
  }
}
